.archivo {
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.libre-baskerville {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-condensed-light {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: normal;
}
  
.barlow-condensed {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
}
  