.font_1-0 {
    font-family: "Barlow Condensed", serif;
    font-weight: 300;
    font-style: normal;
}
  
.font_1-1 {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
}
  
.font_2 {
    font-family: "Quicksand", serif;
    font-weight: 350;
    font-style: normal;
}
  
.button_round {
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}